#main-content {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
}

#highscore {
  margin-left: 100px;
  margin-top: 100px;
}

#timer {
  margin-right: 100px;
  margin-top: 100px;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

.questClass {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 26px;
}

footer {
  text-align: center;
}

button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 15px 15px 15px;
  padding: 15px 35px;
  font-size: 18px;
}
